@model IEnumerable<VTeIC.Requerimientos.Entidades.ChoiceOption>

@{
    ViewBag.Title = "Opciones para preguntas";
}

<h2>Opciones para preguntas</h2>

<p>
    @Html.ActionLink("Añadir opción", "Create")
</p>
<table class="table">
    <tr>
        <th>Opción</th>
        <th>Pregunta</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Text)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
