@model VTeIC.Requerimientos.Entidades.Project

@{
    ViewBag.Title = "Borrado";
}

<div class="page-header">
    <h2>Borrar proyecto</h2>
</div>

<h3>¿Está seguro que desea borrar este proyecto?</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Directorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directorio)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
