@model VTeIC.Requerimientos.Entidades.Project

@{
    ViewBag.Title = "Detalles";
}

<div class="page-header">
    <h2>Detalles del proyecto</h2>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Directorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Directorio)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
    <a href="@Url.Action("Index")" class="btn btn-info">Volver</a>
</p>
