@using VTeIC.Requerimientos.Web.ViewModels;
@model ProjectViewModel

@{
    ViewBag.Title = "Detalles";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Proyectos", "Index", "Project")</li>
    <li class="active">@Model.Nombre</li>
    <li class="active">Detalles</li>
</ol>

<div class="page-header">
    <h2>Detalles del proyecto</h2>
    <p class="small-text">@Model.Nombre</p>
</div>

<table class="table no-border-top">
    <tbody>
        <tr>
            <td class="horizontal-th">@Html.DisplayNameFor(model => model.Nombre)</td>
            <td>@Html.DisplayFor(model => model.Nombre)</td>
        </tr>

        <tr>
            <td class="horizontal-th">@Html.DisplayNameFor(model => model.CreatedAt)</td>
            <td>@Html.DisplayFor(model => model.CreatedAt)</td>
        </tr>

        <tr>
            <td class="horizontal-th">@Html.DisplayNameFor(model => model.Directorio)</td>
            <td>@Html.DisplayFor(model => model.Directorio)</td>

        </tr>
        <tr>
            <td class="horizontal-th">@Html.DisplayNameFor(model => model.State)</td>
            <td>@Html.DisplayFor(model => model.State)</td>
        </tr>

        @if (Model.State != VTeIC.Requerimientos.Entidades.ProjectState.INACTIVE)
        {
            <tr>
                <td class="horizontal-th">@Html.DisplayNameFor(model => model.StateTime)</td>
                <td>@Html.DisplayFor(model => model.StateTime)</td>
            </tr>
        }

        @if (!Model.StateReason.IsEmpty())
        {
            <tr>
                <td class="horizontal-th">@Html.DisplayNameFor(model => model.StateReason)</td>
                <td>@Html.DisplayFor(model => model.StateReason)</td>
            </tr>
        }

        @if (Model.SearchKeys.Any())
        {
            <tr>
                <td class="horizontal-th">Claves de búsqueda</td>
                <td>
                    <table class="table no-border-top">
                        <tbody>
                            @{ int i = 0; }
                            @foreach (var s in Model.SearchKeys)
                            {
                                <tr>
                                    <td>@(++i)</td>
                                    <td>@s</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }

        <tr>
            <td class="horizontal-th">Estado detallado</td>
            <td>
                @if (Model.WSState != null)
                {
                    if (Model.WSStopped)
                    {
                        <span class="project-state">Detenido</span>
                    }
                    else
                    {
                        <span class="project-state">Corriendo</span>
                    }
                }

                <form id="form-wsstate" action="@Url.Action("State", new { projectId = Model.Id })" method="post" style="display: inline">
                    <button type="submit" class="btn btn-sm btn-default" data-toggle="tooltip" title="Consultar estado" data-placement="top" data-trigger="hover">
                        <i class="fa fa-refresh"></i>
                    </button>
                </form>

                <span id="wsstate-note" style="display: none">Se ha envíado la consulta.</span>
            </td>
        </tr>

        @if (Model.State == VTeIC.Requerimientos.Entidades.ProjectState.ACTIVE)
        {
            <tr>
                <td class="horizontal-th"><span style="color: darkred">Detener proyecto</span></td>
                <td>
                    <form id="form-wsstop" action="@Url.Action("Stop", new { projectId = Model.Id })" method="post" style="display: inline">
                        <button type="submit" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Enviar orden de detención" data-placement="top" data-trigger="hover">
                            <i class="fa fa-stop"></i>
                        </button>
                    </form>

                    <span id="wsstop-note" style="display: none">Se ha envíado el comando de detención.</span>
                </td>
            </tr>
        }
    </tbody>
</table>

<p><a href="@Url.Action("Index")" class="btn btn-info">Volver</a></p>

<script>
    $('#form-wsstate').submit(function (e) {
        $.post('@Url.Action("State", new { projectId = Model.Id })', function (response) {
            $('#wsstate-note').fadeIn();
        });

        e.preventDefault();
    });

    $('#form-wsstop').submit(function (e) {
        $.post('@Url.Action("Stop", new { projectId = Model.Id })', function (response) {
            $('#wsstop-note').fadeIn();
        });

        e.preventDefault();
    });

    $('[data-toggle="tooltip"]').tooltip();
</script>