@using VTeIC.Requerimientos.Web.ViewModels
@model List<FileViewModel>

@{
    ViewBag.Title = "Archivos";
}

<div class="page-header">
    <h2>Archivos del proyecto</h2>
</div>

@if (Model.Any())
{
    <table class="table no-border-top table-hover table-striped">
        <thead>
            <tr>
                <th style="width: 3%"></th>
                <th>Nombre</th>
                <th>Origen</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0; }
            @foreach (FileViewModel file in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td><a target="_blank" href="@file.VirtualPath">@file.FileName</a></td>

                    <td><a href="#">@file.SourceURL</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="list-count">Se encontraron @Model.Count archivos</td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="alert alert-info">
        Este proyecto aún no tiene archivos.
    </div>
}

