@model IEnumerable<VTeIC.Requerimientos.Entidades.Project>

@{
    ViewBag.Title = "Proyectos";
}

<div class="page-header">
    <h2>Proyectos</h2>
</div>

<table class="table no-border-top">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directorio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Nombre, "VTeIC", new {projectId = item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Directorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a class="fa fa-pencil fa-2x blue action-button" href="@Url.Action("Edit", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="Editar"></a>
                <a class="fa fa-info-circle fa-2x green action-button" href="@Url.Action("Details", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="Ver detalles"></a>
                <a class="fa fa-trash fa-2x dark-red action-button" href="@Url.Action("Delete", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="Eliminar"></a>
                <a class="fa fa-files-o fa-2x blue action-button" href="@Url.Action("Index", "DisplayFile", new {directorio = item.Directorio})" data-toggle="tooltip" data-placement="top" title="Ver archivos"></a>
            </td>
        </tr>
    }
</table>

<div class="clearfix">
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn btn-sm btn-success">Nuevo Proyecto</a>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>