@using VTeIC.Requerimientos.Web.ViewModels
@model List<ProjectViewModel>

@{
    ViewBag.Title = "Proyectos";
}

<div class="page-header">
    <h2>Proyectos</h2>
</div>

<table class="table no-border-top">
    <tr>
        <th>Nombre</th>
        <th>Directorio</th>
        <th>¿Activo?</th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Nombre, "VTeIC", new {projectId = item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Directorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @*<a class="fa fa-pencil fa-2x blue action-button" href="@Url.Action("Edit", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="Editar proyecto"></a>*@
@*                <a class="fa fa-info-circle fa-2x green action-button" href="@Url.Action("Details", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="Ver detalles del proyecto"></a>*@
                <a class="fa fa-trash fa-2x dark-red action-button" href="@Url.Action("Delete", new {id = item.Id})" data-toggle="tooltip" data-placement="top" title="Borrar proyecto"></a>

                @if (item.DirectoryExists())
                {
                    <a class="fa fa-files-o fa-2x blue action-button" href="@Url.Action("Files", new {projectId = item.Id})" data-toggle="tooltip" data-placement="top" title="Ver archivos del proyecto"></a>
                }
            </td>
        </tr>
    }
</table>

<div class="clearfix">
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn btn-sm btn-success">Crear nuevo proyecto</a>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>