@model IEnumerable<VTeIC.Requerimientos.Entidades.Project>

@{
    ViewBag.Title = "Proyectos";
}

<h2>Proyectos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Directorio)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Nombre)*@
            @Html.ActionLink(item.Nombre, "VTeIC", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Directorio)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Ver Archivos", "Index","DisplayFile", new { directorio = item.Directorio },null)
        </td>
    </tr>
}

</table>
