@using VTeIC.Requerimientos.Entidades
@using VTeIC.Requerimientos.Web.ViewModels
@model ProjectVTeICViewModel

@{
    ViewBag.Title = "VTeIC";
}

@Styles.Render("~/Content/jquerysteps")

<div class="page-header">
    <h2>Asistente de Recopilación de Requerimientos</h2>
</div>

<form action="/VTeIC/PostAnswer" method="post" id="form-vteic">
    <div id="wizard" class="wizard clearfix vertical">
        <div class="steps clearfix">
            <ul role="tablist">
                @{ int index = 0; }
                @foreach (var group in Model.Groups)
                {
                    bool first = group.Equals(Model.Groups.First());
                    <li role="tab" data-group="@(group.Id)" class="@( first ? "first current" : "disabled" )" aria-disabled="false" aria-selected="true">
                        <a href="#" data-group="@(group.Id)">
                            <span class="number">@(++index). </span>@group.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="content clearfix well" id="question-container">
            @foreach (var question in Model.Questions)
            {
                bool first = question.Equals(Model.Questions.First());

                <section role="tabpanel" data-question="@(question.Id)" class="body current @(first ? "" : "hidden")" aria-hidden="false">
                    <div class="text-center col-md-12">
                        <p id="question-text-q@(question.Id)" class="lead">@(question.Text)</p>
                        <div class="answer-field">
                            @if (question.QuestionType == QuestionTypes.TEXT_FIELD)
                            {
                                <input type="text" class="form-control input-lg" id="text-q-@(question.Id)" @(question.IsPivot ? "required" : "") autocomplete="off" autofocus>
                            }
                            else if (question.QuestionType == QuestionTypes.BOOLEAN)
                            {
                                <button type="button" class="btn btn-primary btn-answer-yes">Sí</button>
                                <button type="button" class="btn btn-primary btn-answer-no">No</button>
                            }
                            else
                            {
                                foreach (var choice in question.ChoiceOptions.OrderBy(c => c.Weight))
                                {
                                    <div class="row">
                                        <div class="col-sm-offset-5 col-sm-7 choice-list">
                                            <input type="checkbox" value="@(choice.Id)" data-question="@(question.Id)" id="choice-q@(question.Id)-@(choice.Id)"/>
                                            <label for="choice-q@(question.Id)-@(choice.Id)">@choice.Text</label>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </section>
            }
        </div>

        <div id="error-alert" class="alert alert-danger srr-alert" style="display: none">
            <button type="button" class="close" data-hide="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p><strong>¡Atención!</strong> No se ha podido establecer la conexión con el servicio de obtención y análisis de datos.</p>
        </div>

        <div id="working-alert" class="alert alert-success srr-alert" style="display: none">
            <p><strong>¡Listo!</strong> Se ha iniciado el proceso de búsqueda y análisis de información.</p>
            <p>Esto puede demorar un tiempo. Cuando finalice el proceso podrá ver los archivos obtenidos ingresando a <a href="@Url.Action("Index", "DisplayFile", new {directorio = Model.Project.Directorio})">archivos del proyecto</a></p>
        </div>

        <div class="actions clearfix well">
            <div id="div-buttons">
                <button type="button" id="btn-prev" class="btn btn-primary" disabled>Anterior</button>
                <button type="submit" id="btn-next" class="btn btn-primary">Siguiente</button>
                <a type="button" id="btn-back" class="btn btn-primary" href="" style="display: none">Volver</a>
            </div>
            <div id="div-indicator" class="pull-left" style="display: none">
                <p><i class="fa fa-spinner fa-spin fa-3x"></i> <span class="working-text">Trabajando...</span></p>
            </div>
        </div>
    </div>
</form>

<script>
    var QuestionType = {
        Text: @((int) QuestionTypes.TEXT_FIELD),
        Boolean: @((int) QuestionTypes.BOOLEAN),
        MultipleChoice: @((int) QuestionTypes.MULTIPLE_CHOICE) };

    var CurrentQuestion = {
        Id: @(Model.Questions.First().Id),
        Type: @((int) Model.Questions.First().QuestionType),
        Group: @(Model.Questions.First().Group) };

    var BooleanAnswer = null;

    $('.btn-answer-yes').click(function() {
        BooleanAnswer = true;
        $('#btn-next').prop('disabled', false).click();
    });

    $('.btn-answer-no').click(function() {
        BooleanAnswer = false;
        $('#btn-next').prop('disabled', false).click();
    });

    // Click en Next o Finish
    $('#form-vteic').submit(function(event) {
        var divIndicator = $('#div-indicator');
        var divButtons = $('#div-buttons');
        var errorAlert = $('#error-alert');

        if (errorAlert.is(':visible'))
            errorAlert.fadeOut();

        var answer = {
            QuestionId: CurrentQuestion.Id,
            TextAnswer: '',
            BooleanAnswer: null,
            OptionsAnswer: []
        };

        fill_answer(answer);

        $.ajax({
            url: '/VTeIC/PostAnswer',
            data: JSON.stringify(answer),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            type: 'POST',
            success: function(response) {
                // Si fue la última pregunta, solicitamos las claves de búsqueda
                if (response.Finished) {
                    divButtons.hide();
                    divIndicator.fadeIn();

                    $.post('SearchKey', null, function(keyResponse) {
                            divIndicator.hide();
                            divButtons.fadeIn();

                            if (!keyResponse.result) {
                                errorAlert.fadeIn();
                                return;
                            }

                            find_question_section(CurrentQuestion.Id).hide();
                            show_working_dialog();

                            $('#btn-next').hide();
                            $('#btn-back').show();
                        });
                    return;
                }

                if (response.LastQuestion) {
                    $('#btn-next').text('Finalizar');
                }

                var nextQuestion = response.Question;
                switch_question(nextQuestion.Id, nextQuestion.Group);

                CurrentQuestion.Id = nextQuestion.Id;
                CurrentQuestion.Type = nextQuestion.QuestionType;
                CurrentQuestion.Group = nextQuestion.Group;

                if (CurrentQuestion.Type === QuestionType.Boolean) {
                    $('#btn-next').prop('disabled', true);
                }

                // Actualiza el texto de la pregunta por si es pivot
                $('#question-text-q' + nextQuestion.Id).html(nextQuestion.Text);
            }
        });
        event.preventDefault();
    });

    /**
     * Obtiene la respuesta de los campos correspondientes de acuerdo al tipo de pregunta
     **/
    function fill_answer(answer) {
        if (CurrentQuestion.Type === QuestionType.Text) {
            answer.TextAnswer = $('#text-q-' + CurrentQuestion.Id).val();
        } else if (CurrentQuestion.Type === QuestionType.Boolean) {
            answer.BooleanAnswer = BooleanAnswer;
        } else {
            answer.OptionsAnswer = get_choices();
        }
    }

    /**
     * Oculta la pregunta anterior y muestra la próxima
     **/
    function switch_question(next_question_id, next_group) {
        var currentTab = find_group_tab(CurrentQuestion.Group);
        var currentSection = find_question_section(CurrentQuestion.Id);

        var nextTab = find_group_tab(next_group);
        var nextSection = find_question_section(next_question_id);

        currentTab.removeClass('current')
            .addClass('done');

        nextTab.addClass('current')
            .removeClass('disabled')
            .removeClass('done');

        currentSection.hide();
        nextSection.removeClass('hidden').show();

        // Si la pregunta ya fue respondida limpia los campos de respuesta
        nextSection.find('input[type=text]').val('').focus();
        nextSection.find('input[type=checkbox]').prop('checked', false);
    }

    // Obtiene el tab correspondiente a la pregunta q
    function find_group_tab(g) {
        return $("li[data-group=" + g + "]");
    }

    // Obtiene la section correspondiente a la pregunta q
    function find_question_section(q) {
        return $("section[data-question=" + q + "]");
    }

    // Devuelve un arreglo con los valores de los checkboxes seleccionados como respuesta
    function get_choices() {
        var options = $('input[data-question=' + CurrentQuestion.Id + ']:checked');
        return $.map(options,
            function(v) {
                return Number($(v).val());
            });
    }

    // Muestra el mensaje cuando se inició el proceso de búsqueda.
    function show_working_dialog() {
        $('#question-container').fadeOut(400, function() {
            $('#working-alert').fadeIn();
        });
    }

    $(function(){
        $("[data-hide]").on("click", function() {
            $(this).closest("." + $(this).attr("data-hide")).hide();
        });
    });
</script>