@using VTeIC.Requerimientos.Web.ViewModels;
@using VTeIC.Requerimientos.Entidades;
@model ProjectVTeICViewModel

@{
    ViewBag.Title = "VTeIC";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Proyectos", "Index", "Project")</li>
    <li class="active">@Model.Project.Nombre</li>
</ol>

@if (Model.Project.State == ProjectState.INACTIVE)
{
    @Html.Partial("VTeIC", Model)
}
else
{
    <div class="alert alert-warning">
        <p>Este proyecto ya tiene un proceso de búsqueda y análisis en curso.</p>
        <p>Para realizar una nueva búsqueda puede @Html.ActionLink("crear", "Create") otro proyecto.</p>
    </div>
}
